.login-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.login-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #07defc;
  background-size: cover;
  /* 
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-position: center; */
}

.login-left-container form {
  background-color: white;
  padding: 50px 100px;
  border-radius: 10px;
}

.icon {
  font-size: 50px;
  width: 100%;
  font-weight: bold;
  color: #07defc;
}

.login-left-container form h1 {
  color: #07defc;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.login-left-container form button {
  width: 50%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #07defc;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container img {
  width: 70%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.login-button {
  display: flex;
  flex-direction: row;
}

.login-button .register-btn {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: #07defc;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 50px;
}

.login-button .register-btn .icon-right {
  margin-left: 10px;
}
